.df{
    display: flex;
}
.dg{
    display: grid;
}
.activ-nav{
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    color: #44ada7  !important; 
    border-bottom:  2px solid #FEC62D;
}
