.hero{
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;

}
.hero__text-wrapper{
    width: 40%;
}
.hero__title{
    // width: 674px;
    font-weight: 800;
    font-size: 70px;
    line-height: 105px;
    color: #1C2323;
}
.hero__text{
    // width: 743px;
    margin-bottom: 50px;
    font-size: 30px;
    line-height: 45px;
    color: #404242;
}
.hero__img-wrapper{
    width: 743px;

    align-items: center;
    align-content: center;
    justify-content: center;
}
.hero__btn{
    padding: 21px 85px;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    color: #FFFFFF;
    background-color: #58A9A5;
    border-radius: 20px 20px 20px 0px;
}
.hero__btn:hover{
    background-color: #8de7e3;
}
.hero__img-wrapper{
    background-image: url('../../images/hero-backgraund.jpg');
    background-repeat: no-repeat;
}

.hero__img-wrapper{
    width: 835px;
    height: 782px;
}